body {
  font-family: 'Roboto', 'Raleway', 'sans-serif';
  color: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-align {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    max-width: 768px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}

.header__menu, .header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header__menu-mob-open {
  height: 16px;
  background-color: inherit;
  border: none;
}

.header__menu-mob-open:hover, .header__menu-mob-open:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__menu-mob-open {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.menu-item__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.menu-item__link:hover, .menu-item__link:focus {
  color: #2196f3;
}

.active-list {
  color: #2196f3;
}

.active-list::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  content: '';
  background: #2196f3;
  border-radius: 2px;
}

.contacts-item__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-item__icon:hover, .contacts-item__icon:focus {
  fill: currentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-item__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-item__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts-item__link:hover, .contacts-item__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mob {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 100vw;
    height: 100vh;
    padding: 48px 0 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
  }
  .mob__menu-close {
    border: none;
    background: inherit;
    position: absolute;
    top: 21px;
    right: 25px;
    fill: #212121;
    padding: 0;
  }
  .mob__menu-close:hover, .mob__menu-close:focus {
    fill: #2196f3;
  }
  .mob__menu-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
    color: #212121;
  }
  .mob__menu-item:hover, .mob__menu-item:focus {
    color: #2196f3;
  }
  .mob__contacts-item {
    margin-bottom: 32px;
  }
  .mob__contacts-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mob__contacts-envelope {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mob__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mob__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  .mob__social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding-right: 10px;
  }
  .wrap-mob-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 480px;
  max-height: 400px;
  margin: 0 auto;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_img_mob_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_tab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_tab_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_desk_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
}

.features {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .features {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  .features__item:nth-child(2n) {
    margin-left: 30px;
  }
  .features__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:nth-child(n + 2) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    max-width: 1200px;
    flex-wrap: nowrap;
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .features__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services,
.title-services {
  display: none;
}

@media screen and (max-width: 1199px) {
  .services-tab {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .title-services {
    text-align: center;
    margin-bottom: 50px;
    color: #212121;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
  }
  .services__item-link {
    display: flex;
    align-items: end;
    position: relative;
  }
  .services__item-text {
    position: absolute;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .services__item:not(:last-child) {
    margin-right: 30px;
  }
}

.title-sections {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.main-team-container {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item:nth-child(2n) {
    margin-left: 30px;
  }
  .team__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__item:nth-child(2n) {
    margin-left: 0;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    margin-bottom: 0;
  }
}

.employee-cards {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.employee-cards__name {
  padding-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employee-cards__profession {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employee-cards__social-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 122px 24px 122px;
}

@media screen and (min-width: 768px) {
  .employee-cards__social-link {
    padding: 16px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .employee-cards__social-link {
    padding: 16px 32px 30px 32px;
  }
}

.social-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social-link__icon:hover, .social-link__icon:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: calc(100vw / 2 - 30px);
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .clients__item-link {
    width: calc(100vw / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item-link {
    width: 170px;
  }
}

.clients__item-link:hover, .clients__item-link:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer__parts {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__contacts {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    padding-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
    padding-left: 0;
    padding-right: 70px;
    padding-bottom: 0;
  }
}

.footer__logo {
  color: #ffffff;
}

.footer__adress {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  width: 206px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
  }
}

.footer__social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer__social__links {
  display: flex;
  justify-content: space-between;
}

.footer__social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.footer__social__icon:hover, .footer__social__icon:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .footer__subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 93px;
  }
  .footer__subscribe__form {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

.footer__subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe__text {
    text-align: left;
  }
}

.footer__subscribe__input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer__subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer__subscribe__icon {
  margin-left: 10px;
}

.guide {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .guide {
    justify-content: center;
  }
}

.guide__item-btn {
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.guide__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.guide__item-btn:hover, .guide__item-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;
}

.projects__item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  transition-property: box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 480px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects__item:hover .projects__item-text {
  transform: translateY(0);
}

.projects__item:hover, .projects__item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-wrap {
  position: relative;
  overflow: hidden;
}

.projects__info {
  padding: 20px 0 20px 24px;
}

.projects__info-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0%;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  max-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: skew(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
  padding: 40px;
}

@media screen and (min-width: 320px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.is-hidden .modal {
  transform: translateX(1500px) skew(75deg);
  transition: transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.input-wrap {
  position: relative;
}

.input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__area:focus {
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__area:focus + .input-wrap__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
  color: #757575;
}

.form__label-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__label-comments:focus {
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label-comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-policy__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .modal-policy__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2196f3;
  padding: auto;
  display: block;
  margin: 0 auto;
}

.agreement {
  color: #2196f3;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.modal-policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.icon-check {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.modal-policy__icon-check {
  fill: #ffffff;
}

.modal-policy__check:checked + .modal-policy__text .icon-check {
  background: #2196f3;
  border-radius: 2px;
  border: none;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-header {
  color: #000000;
}
/*# sourceMappingURL=main.css.map */