.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    margin-bottom: 30px;
    border: 1px solid #afb1b8;
    fill: #afb1b8;
    transition-property: fill, box-shadow, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;

    &:nth-child(n + 5) {
      @media screen and (min-width: 320px) {
        margin-bottom: 0px;
      }
    }
  }
  &__item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 60px);
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__item-link:hover,
  &__item-link:focus {
    border: 1px solid #2196f3;
    fill: $accent-color;
  }
}
