.guide {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__item-btn {
    border-radius: 4px;
    padding: 6px 22px;
    color: $second-btn-color;
    background-color: $second-btn-background-color;
    font-family: inherit;
    @include text(500, 16px, 1.62, 0.03em);
    cursor: pointer;
    border: none;
    transition-property: color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__item:nth-child(n + 4) {
    margin-bottom: 0px;
  }

  &__item-btn:hover,
  &__item-btn:focus {
    color: $btn-color;
    background-color: $btn-background-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;

  &__item {
    @media screen and (min-width: 480px) {
      max-width: 450px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    transition-property: box-shadow, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  &__item:hover &__item-text {
    transform: translateY(0);
  }

  &__item:hover,
  &__item:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    padding: 63px 24px;
    @include text(400, 18px, 1.55, 0.03em);
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition-property: transform, box-shadow, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item-wrap {
    position: relative;
    overflow: hidden;
  }

  &__info {
    padding: 20px 0 20px 24px;
  }

  &__info-title {
    color: $second-title-color;
    @include text(700, 18px, 2, 0.06em);
  }

  &__info-text {
    @include text(400, 16px, 1.85, 0.03em);
  }
}
