.main-team-container {
  background-color: #f5f4fa;
}

.team {
  &__item {
    background: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  // &__item:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.employee-cards {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  &__name {
    padding-bottom: 10px;
    color: $second-title-color;

    @include text(500, 16px, 1.19, 0.03em);
  }

  &__profession {
    color: $text-color;

    @include text(400, 16px, 1.19, 0.03em);
  }

  &__social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 16px 122px 24px 122px;
  }
}

.social-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;

  &:hover,
  &:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    fill: #ffffff;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }
}

// .main-team-container {
//   background-color: #f5f4fa;
// }

// .team {
//   display: flex;

//   &__item {
//     background: #ffffff;

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//   }

//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .employee-cards {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   text-align: center;

//   &__name {
//     padding-bottom: 10px;
//     color: $second-title-color;

//     @include text(500, 16px, 1.19, 0.03em);
//   }

//   &__profession {
//     color: $text-color;

//     @include text(400, 16px, 1.19, 0.03em);
//     padding-bottom: 16px;
//   }

//   &__social-link {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;

//     padding: 0 32px;
//   }
// }

// .social-link__icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   fill: #afb1b8;
//   transition-property: fill, box-shadow, background;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   border-radius: 50%;

//   &:hover,
//   &:focus {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;

//     fill: #ffffff;
//     background: $accent-color;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 50%;
//   }
// }
