$logo-color: #2196f3;
$navigation-color: #212121;
$contacts-color: #757575;
$second-title-color: #212121;
$first-title-color: #ffffff;
$text-color: #757575;
$accent-color: #2196f3;
$btn-color: #ffffff;
$btn-background-color: #2196f3;
$first-background-color: #2f303a;
$second-btn-background-color: #f5f4fa;
$second-btn-color: #212121;
